<h2>User Dashboard</h2>
<nav>
    <a routerLink="forms" routerLinkActive="active">Available Forms</a>
    <a routerLink="submissions" routerLinkActive="active">My Submissions</a>
</nav>
<router-outlet></router-outlet>



<!-- <div class="User-dashboard">
    <h1>User Dashboard</h1>

    <mat-tab-group>
        <mat-tab label="Available Forms">
            <app-form-list></app-form-list>
        </mat-tab>
        <mat-tab label="My Submissions">
            <app-form-builder></app-form-builder>
        </mat-tab>
    </mat-tab-group>
</div> -->